{% extends "layout.html" %}
{% block title %}Season {{ season }} episode {{ episode }} - {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h2>Eliminated season {{ season }} episode {{ episode }}</h2>
    {% include 'nav.html' %}
    <div class="content">
        {% for person in content %}
            {{ person|safe }}
        {% else %}
        <p>No information found for this episode.</p>
        {% if episode > 10 %}
        
        <div>
            <a class="final-link" href="/final/{{ season }}">⚠️ Show final for this season ⚠️</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h3 class="credit">Read more</h3>
    <ul>
        {% for contestant in contestants %}
        <li><a href="https://hellskitchen.fandom.com/wiki/{{ contestant }}">{{ contestant }} (Hell's Kitchen Wiki)</a></li>
        {% endfor %}
    </ul>
{% endblock %}