{% extends "layout.html" %}
{% block title %}Season {{ season }} episode {{ episode }} - {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    {% include 'nav-season.html' %}
    {% include 'nav.html' %}
    <div class="content">
        {% for person in content %}
            {{ person|safe }}
        {% else %}
        <p>No information found for this episode.</p>
        {% if episode > 10 %}
        
        <div>
            <a class="final-link" href="/final/{{ season }}">⚠️ Show final for this season ⚠️</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h3 class="credit">Read more</h3>
    <ul>
        {% for contestant in contestants %}
        <li><a href="https://hellskitchen.fandom.com/wiki/{{ contestant }}">{{ contestant }} (Hell's Kitchen Wiki)</a></li>
        {% endfor %}
        <li><a href="https://www.youtube.com/results?search_query=%40hellskitchen+season+{{season}}+episode+{{episode}}">YouTube Season {{season}} Episode {{episode}}</a></li>
        <li><a href="https://www.youtube.com/results?search_query=%40hellskitchen+season+{{season}}+episode+{{episode+1}}">YouTube Season {{season}} Episode {{episode+1}}</a></li>
    </ul>

    <script>
        const LAST_NAME = "Season {{ season }} episode {{ episode }}";
    </script>
{% endblock %}