{% extends "layout.html" %}
{% block title %}Season {{ season }} final - {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h2>Season {{ season }} final</h2>
    <div class="content">
        <h3>Runner up</h3>
        {{ runner_up|safe }}
        
        <h3>Winner</h3>
        {{ winner|safe }}
    </div>

    <h3>Read more</h3>
    <ul>
        {% for contestant in contestants %}
        <li><a href="https://hellskitchen.fandom.com/wiki/{{ contestant.replace(' ', '_') }}">{{ contestant }} (Hell's Kitchen Wiki)</a></li>
        {% endfor %}
        <li><a href="{{ season_url|safe }}">Season {{ season }} (Reality Tv Revisited)</a></li>
    </ul>
    
{% endblock %}