{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    <p>This site was made to be able to find out what happened to an eliminated contestant, without getting spoilers on when other people got eliminated.</p>
    
    <div class="two-columns-grid">
        <div>
            <ul class="choose-season">
            {% for season in seasons[:column_count] %}
            <li><a href="/{{ season }}/1">Season {{ season }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <ul class="choose-season">
            {% for season in seasons[-column_count:] %}
            <li><a href="/{{ season }}/1">Season {{ season }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    


    <p class="credit">
        Data fetched from <a href="https://www.realitytvrevisited.com/">Reality Tv Revisited</a>. Visit for much more information.
    </p>
{% endblock %}