{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    <p>This site was made to be able to find out what happened to an eliminated contestant, without getting spoilers on x when other people got eliminated.</p>
    
    <ul class="choose-season">
    {% for season in seasons %}
        <li><a href="/{{ season }}/1">Season {{ season }}</a></li>
    {% endfor %}
    </ul>

    <p class="credit">
        Data fetched from <a href="https://www.realitytvrevisited.com/">Reality Tv Revisited</a>. Visit for much more information.
    </p>
{% endblock %}