<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}Hells Kitchen - No spoilers</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    {% endblock %}
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='apple-touch-icon.png') }}"></img>
      <h1>
          <a href="/">Hells Kitchen - No spoilers</a>
      </h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>